/*
    Color Palette
    1. #4B7F52 - Fern Green
    2. #0F110C - Night
    3. #EDF2F4 - White
    4. #EF233C - Light Red
    5. #D90429 - Fire Engine Red
*/

body {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    background-color: #EDF2F4;
}

header {
    font-size: 1.5em;
    background-color: #0F110C;
    padding-left: 20px;
    box-shadow: 10px 10px 8px 10px #bebebe;
    border-bottom: #D90429 solid 3px;
    margin-bottom: 150px;
}

.nav-brand {
    font-size: 2em;
    color: #EDF2F4;
    transition: all 0.3s;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

.nav-brand::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: #EF233C;
    transition: all 0.3s;
}

.nav-brand:hover {
    color: #EF233C;
}

.nav-brand:hover::after {
    width: 100%;
}

.navbar-toggler {
    background-color: #EDF2F4;
}

.nav-brand:not(:hover)::after {
    right: 0;
    left: auto;
}

.nav-item {
    padding: 0px 12px;
}

.link {
    color: #EDF2F4;
    border-radius: 40px;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    color: #0F110C;
    background-color: #EDF2F4;
}

.row {
    margin: 0px 70px;
}

.row > div {
    height: 450px;
}

.catalog {
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px 0px #EF233C inset; */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #4B7F52;
    padding: 0.55em 0.55em;
    color: #EDF2F4;
    border-radius: 0.4em;
    box-shadow: 0px 0px 10px 0 #4B7F52;
    font-weight: bold;
}

.image {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px 0 #0F110C;
}

.img-1 {
    position: absolute;
    left: 120px;
    top: 20px;
}

.img-2 {
    position: absolute;
    left: 290px;
    top: 120px;
}

.img-3 {
    position: absolute;
    left: 120px;
    top: 190px;
}

.img-4 {
    position: absolute;
    left: 290px;
    top: 290px;
}

.server-info {
    background-color: #0F110C;
    color: #EDF2F4;
    padding: 0px 70px 30px 70px;
    margin-bottom: 50px;
    border-top: #D90429 solid 3px;
    border-bottom: #D90429 solid 3px;
}

.image-5 {
    position: absolute;
    border-radius: 20px;
    left: 460px;
    top: 20px;
    height: 420px;
    box-shadow: 0px 0px 5px 0 #0F110C;
}

.about {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.grid-display-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1em 3.5em;
}

.title {
    font-size: 3rem;
    color: #4B7F52;
    font-weight: bold;
    text-align: center;
}

.secondary-text {
    text-align: center;
    font-size: 1.3em;

}

.grid-display-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1em 2em;
    max-width: 80%;
    margin: 0 auto;
}

.grid-item-2 {
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.pricing h1 {
    font-weight: bold;
    text-align: center;
}

.pricing li {
    font-size: 1.2rem;
}

.pricing ul {
    margin-bottom: 40px;
}